.idea/
.project
.pydevproject
MANIFEST
build/
dist/
python_safet.egg-info/
safet.egg-info/
*.pyc
*.bin
*.py.cache
distribute-*.egg
distribute-*.tar.gz
docs/_build
docs/.docs-build-environment
.tox/
.cache/
